@import "tailwindcss";

@source not "./tailwindcss-windows-x64.exe";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs" {
    themes: light --default, dark --prefersdark;
}

@plugin "./daisyui-theme.mjs" {
    
}
